# VacationPy
----

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = pd.read_csv("../output_data/cities.csv")
weather_data

,Country,City,Lat,Lng,Cloudiness,Date,Humidity,Max Temp,Wind Speed
0,MY,George Town,5.4112,100.3354,40,1619480692,94,75.20,1.14
1,MX,Puerto Escondido,15.8500,-97.0667,40,1619481476,66,87.80,4.61
2,US,Barrow,71.2906,-156.7887,1,1619481342,79,21.20,19.57
3,NZ,Bluff,-46.6000,168.3333,54,1619481021,74,46.99,11.99
4,NZ,Mataura,-46.1927,168.8643,93,1619480990,75,46.00,11.99
...,...,...,...,...,...,...,...,...,...
562,BR,Caravelas,-17.7125,-39.2481,67,1619481622,78,76.46,7.02
563,JP,Abashiri,44.0213,144.2697,20,1619481622,60,41.00,3.44
564,NO,Mehamn,71.0357,27.8492,98,1619481097,64,30.70,11.10
565,YE,Aden,12.7794,45.0367,100,1619481622,72,82.65,7.83
566,RU,Tigil',57.8000,158.6667,100,1619481623,92,29.55,6.67

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
#Gmaps Configuration
gmaps.configure(api_key=g_key)

#Store lat & long
locations = weather_data[["Lat", "Lng"]]

#Store Humidity
humidity = weather_data["Humidity"]

In [4]:
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)

#Heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

#Add heat layer
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
narrowed_wind_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)].dropna()

narrowed_wind_df

,Country,City,Lat,Lng,Cloudiness,Date,Humidity,Max Temp,Wind Speed
19,SA,Umluj,25.0213,37.2685,0,1619481479,70,76.91,6.96
32,BR,Alta Floresta,-9.8756,-56.0861,0,1619481083,100,75.20,3.13
45,AU,Wollongong,-34.4333,150.8833,0,1619481484,74,70.00,1.01
143,BR,Cabedelo,-6.9811,-34.8339,0,1619481504,94,77.00,5.75
213,PK,Keti Bandar,24.1447,67.4497,0,1619481522,77,79.61,9.44
278,BR,MaceiÃ³,-9.6658,-35.7353,0,1619481201,94,75.20,4.61
390,BR,Ibateguara,-8.9725,-35.9394,0,1619481569,94,75.20,4.61
428,MZ,Maxixe,-23.8597,35.3472,0,1619481578,90,70.39,5.26
508,PK,Montgomery,30.6667,73.1000,0,1619481599,19,79.07,4.36
524,YT,Boueni,-12.9025,45.0761,0,1619481605,94,77.00,3.44

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
#Create Hotel DF
hotel_df = narrowed_wind_df.loc[:,["City","Country", "Lat", "Lng"]]

#Add Hotel Name column
hotel_df["Hotel Name"] = ""

hotel_df

              City Country      Lat       Lng Hotel Name
19           Umluj      SA  25.0213   37.2685
32   Alta Floresta      BR  -9.8756  -56.0861
45      Wollongong      AU -34.4333  150.8833
143       Cabedelo      BR  -6.9811  -34.8339
213    Keti Bandar      PK  24.1447   67.4497
278         MaceiÃ³      BR  -9.6658  -35.7353
390     Ibateguara      BR  -8.9725  -35.9394
428         Maxixe      MZ -23.8597   35.3472
508     Montgomery      PK  30.6667   73.1000
524         Boueni      YT -12.9025   45.0761

In [7]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [8]:
for index, row in hotel_df.iterrows():
    #Obtain City Name, Lat & Long
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    params["location"] = f"{lat},{lng}"

    #URL and API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    results = response['results']
    
    #Exception loop
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    #Skip when missing field/result
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

Retrieving Results for Index 19: Umluj.
Closest hotel in Umluj is HP Red Sea Hotel.
Retrieving Results for Index 32: Alta Floresta.
Closest hotel in Alta Floresta is Floresta Amazonica Hotel.
Retrieving Results for Index 45: Wollongong.
Closest hotel in Wollongong is Novotel Wollongong Northbeach.
Retrieving Results for Index 143: Cabedelo.
Closest hotel in Cabedelo is Hotel Almagre.
Retrieving Results for Index 213: Keti Bandar.
Missing field/result... skipping.
Retrieving Results for Index 278: MaceiÃ³.
Closest hotel in MaceiÃ³ is Meridiano Hotel.
Retrieving Results for Index 390: Ibateguara.
Missing field/result... skipping.
Retrieving Results for Index 428: Maxixe.
Closest hotel in Maxixe is Sentidos Beach Retreat.
Retrieving Results for Index 508: Montgomery.
Closest hotel in Montgomery is Hotel One Sahiwal.
Retrieving Results for Index 524: Boueni.
Closest hotel in Boueni is LE CHISSIOUA.

In [9]:
hotel_df

              City Country      Lat       Lng                     Hotel Name
19           Umluj      SA  25.0213   37.2685               HP Red Sea Hotel
32   Alta Floresta      BR  -9.8756  -56.0861       Floresta Amazonica Hotel
45      Wollongong      AU -34.4333  150.8833  Novotel Wollongong Northbeach
143       Cabedelo      BR  -6.9811  -34.8339                  Hotel Almagre
213    Keti Bandar      PK  24.1447   67.4497
278         MaceiÃ³      BR  -9.6658  -35.7353                Meridiano Hotel
390     Ibateguara      BR  -8.9725  -35.9394
428         Maxixe      MZ -23.8597   35.3472         Sentidos Beach Retreat
508     Montgomery      PK  30.6667   73.1000              Hotel One Sahiwal
524         Boueni      YT -12.9025   45.0761                   LE CHISSIOUA

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

#Add layer
fig.add_layer(markers)

#Display Map
fig

Figure(layout=FigureLayout(height='420px'))